<form method="GET" action="/search">
  <div class="flakes-search">
  	<input 
      class="search-box" 
      placeholder="e.g. <%= example_query || 'comments of public knowledge' %>" 
      autofocus 
      name="q"
      <%= if query; "value='#{query}'"; end %>
    />
  </div>
  <br />
  <button class="button-darkblue">Search</button>
</form>

<% if results %>

  <hr />
  
  <% if results.length > 0 %>
  
    <table class="flakes-table">
  		<!--<colgroup>
  			<col span="1" style="width:20px">
  			<col span="1" style="width:40%">
  		</colgroup>-->
  		<thead>
  			<tr>
  				<td>Filing</td>
          <td>Docket</td>
  				<td>Date Received</td>
  			</tr>
  		</thead>
  		<tbody>
        <% results.each do |result| %>
    			<tr>
    			  <td><a href="<%= result.fcc_url %>"><%= result.citation %></a></td>
            <td><%= result.docket_number %></td>
    			  <td><%= result.date_received.to_date %></td>
    			</tr>
        <% end %>
  		</tbody>
  	</table>
    
    <br />
    
    <div id="json">
      <p>Get results as JSON:</p>
    
      <pre>
  curl -H 'Accept: application/json' <%= url("/search?q=#{query}") %> | python -m json.tool
      </pre>
    </div>
  
  <% else %>
    <p>Sorry, no results found.</p>
  <% end %>

<% end %>

