<html>
  <head>
    <style>
      input#searchbar { 
        padding: 10px; 
        font-size: 26px;
        width: 700px;
      }
    </style>
  </head>
  
  <body>
    <h3><a href="/<%= docket_number %>">Docket No. <%= docket_number %></a></h3>
    
    <form method="GET" action="/<%= docket_number %>/search">
      <input id="searchbar" type="text" name="q" />
      <input type="submit" value="search" />
    </form>
  </body>
</html>

<hr />

<% if results %>
  
  <% if results.length > 0 %>
  
    <% results.each do |result| %>
      <p><a href="<%= result.fcc_url %>"><%= result.citation %> (<%= result.date_received %>)</a></p>
    <% end %>
    
  <% else %>
    <p>Sorry, no results found</p>
  <% end %>

<% end %>

