<form method="GET" action="/search">
  <div class="flakes-search">
  	<input 
      class="search-box" 
      placeholder="e.g. <%= example_query || 'comments of public knowledge' %>" 
      autofocus 
      name="q"
      <%= if params['q']; "value='#{params['q']}'"; end %>
    />
  </div>
  <br />
  <button class="button-darkblue">Search</button>
</form>

<br />

<br />

<% if results %>

  <hr />
  
  <% if results.length > 0 %>
  
    <table class="flakes-table">
  		<!--<colgroup>
  			<col span="1" style="width:20px">
  			<col span="1" style="width:40%">
  		</colgroup>-->
  		<thead>
  			<tr>
  				<td>Filing</td>
          <td>Docket</td>
  				<td>Date Received</td>
  			</tr>
  		</thead>
  		<tbody>
        <% results.each do |result| %>
    			<tr>
    			  <td><a href="<%= result.fcc_url %>"><%= result.citation %></a></td>
            <td><%= result.docket_number %></td>
    			  <td><%= result.date_received.to_date %></td>
    			</tr>
        <% end %>
  		</tbody>
  	</table>
     
    <br />
    
    <% if fcc_rcd %>
      <h3>Citation to FCC Record detected: <a href="<%= fcc_rcd[:url] %>"><%= fcc_rcd[:volume] %> FCC Rcd <%= fcc_rcd[:page] %></a></h3>
    <% end %>
    
    <br />
    
    <div id="#rss">
      <h4>RSS Feed:</h4>
      
      <a href="<%= url("/search.rss?q=#{query}") %>">
        <img src="/img/rss-icon.png" alt="RSS feed for <%= query %>" />
      </a>
    </div>
    
    <div id="json">
      <h4>JSON:</h4>
    
      <pre>
curl -H 'Accept: application/json' <%= url("/search?q=#{query}") %> | python -m json.tool
      </pre>
      
      <p>(or <a href="<%= url("/search.json?q=#{query}") %>"><%= url("/search.json?q=#{query}") %></a>)</p>
    </div>
    
    <div id="xml">
      <h4>XML:</h4> 
      
      <a href="<%= url("/search.xml?q=#{query}") %>"><%= url("/search.xml?q=#{query}") %></a>
    </div>
    
    <div id="spreadsheet">
      <h4>Spreadsheet:</h4>
      <p>Get results into a Google Spreadsheet by pasting the following into a cell:</p>
      
      <pre>=ImportXML("<%= url("/search.xml?q=#{query}") %>", "//result")</pre>
    </div>
    
  
  <% else %>
    <p>Sorry, no results found.</p>
  <% end %>

<% end %>

