
<h3><a href="/<%= docket_number %>">Docket No. <%= docket_number %></a></h3>

<form method="GET" action="/<%= docket_number %>/search">
  <div class="flakes-search">
  	<input class="search-box" placeholder="<%= if query; query; else; 'e.g. Comments of Public Knowledge';end %>" autofocus name="q" />
  </div>
  <br />
  <button class="button-darkblue">Search</button>
</form>

<% if results %>

  <hr />
  
  <% if results.length > 0 %>
  
    <ul>
      <% results.each do |result| %>
        <li>
          <h4>
            <a href="<%= result.fcc_url %>">
              <%= result.citation %> (<%= result.date_received.to_date %>)
            </a>
          </h4>
        </li>
      <% end %>
    </ul>
    
  <% else %>
    <p>Sorry, no results found</p>
  <% end %>

<% end %>

